<div class="modal-header">
	<h3>Tsawwassen Tennis Club Fee Structure</h3>
	<button class="btn btn-warning btn-xs visible-xs-block" type="button" ng-click="Close()" style="display:inline;">Close</button>
</div>
<div class="modal-body">
	<ul>
		<li>Singles: $247 person</li>
		<li>Single + 1 Junior: $300</li>
		<li>Single + 2 Juniors: $350</li>
		<li>Couple: $389</li>
		<li>Family: $450</li>
		<li>Student: $105 (full-time post-secondary)</li>
	</ul>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="Close()">Close</button>
</div>