<div class="modal-header">
	<h3>Tsawwassen Tennis Club: Photograph Consent</h3>
	<button class="btn btn-warning btn-xs visible-xs-block" type="button" ng-click="Close()" style="display:inline;">Close</button>
</div>

<div class="modal-body">
Check if you agree to the use of photographs of yourself taken while on the Club premises for the promotion of the Tsawwassen Tennis Club, including, but not limited to, use on the club website.
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="Close()">Close</button>
</div>