<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<input class="form-control input-sm" placeholder="Filter by text" ng-model="filterByText" type="search" autofocus/>
		</div>
		<div class="col-xs-3">
			<input type="checkbox" ng-model="notpaidonly"><small>&nbsp;Not Paid</small>
		</div>
		<div class="col-xs-3">
			<input type="checkbox" ng-model="notrenewedonly"><small>&nbsp;Not Renewed</small>
		</div>
	</div>
	<hr>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="table-responsive">
			<table st-table="members" st-safe-src="members" class="table table-striped table-sm">
				<thead>
					<tr>
						<th><small>Index</small></th>
						<th st-sort="firstname"><small>First Name</small></th>
						<th st-sort="familyname"><small>Last Name</small></th>
						<th st-sort="dob"><small>DoB</small></th>
						<th st-sort="student"><small>Student</small></th>
						<th st-sort="paid"><small>Paid</small></th>
						<th st-sort="primaryphone"><small>Phone</small></th>
						<th st-sort="exec"><small>Status</small></th>
						<th st-sort="emailaddress"><small>Email</small></th>
						<th st-sort="familyemailaddress"><small>Family Email</small></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="(!notpaidonly || (notpaidonly && !member.paid)) && (!notrenewedonly || (notrenewedonly && !member.password))" ng-disabled="!(user.getExec () && (user.getExec () == 'treasurer' || user.getExec () == 'webmaster'))" ng-repeat="member in members | orderBy:'familyname' | filter: filterByText">
						<td><small>{{$index+1}}</small></td>
						<td><small>{{member.firstname}}</small></td>
						<td><small>{{member.familyname| limitTo: 16}}</small></td>
						<td><small>{{member.dob | limitTo: 10}}</small></td>
						<td>
							<input type="checkbox" ng-change="ToggleStudent({{member}})" ng-model="member.student">
						</td>
						<td>
							<input type="checkbox" ng-change="TogglePaid({{member}})" ng-model="member.paid">
						</td>
						<td><small>{{member.primaryphone}}</small></td>
						<td>
							<select class="input-sm" name="execSelect" ng-model="member.exec" ng-change="SelectExec (member)">
								<option value=""></option>
								<option value="president">President</option>
								<option value="vicepresident">VP</option>
								<option value="treasurer">Treasurer</option>
								<option value="maintenance">Maintenance</option>
								<option value="secretary">Secretary</option>
								<option value="membership">Memberships</option>
								<option value="mensleague">Men's League</option>
								<option value="womensleague">Women's League</option>
								<option value="juniorprogram">Junior Program</option>
								<option value="webmaster">WebMaster</option>
								<option value="newsletter">Newsletter</option>
								<option value="socialdirector">Social</option>
								<option value="clubhouse">Clubhouse</option>
								<option value="tournament">Tournament</option>
								<option value="director@large">Director@Large</option>
								<option value="lifetime">Lifetime Member</option>
							</select>
						</td>
						<td>
							<a href="mailto:{{member.emailaddress}}?cc=tsawwassentennisclub@gmail.com&subject=TTC Fees&body=Hi%20{{member.firstname}},%0A%0A">
								<small>{{member.emailaddress}}
							</small>
							</a>
						</td>
						<td>
							<input type="email" class="input-sm" ng-model="member.familyemailaddress" ng-model-options="{updateOn: 'blur'}" ng-change="UpdateFamilyEmailAddress(member)">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>